<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flj.freelojobs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jobs6_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_jobs6_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolaMundo">
        <activity
            android:name=".MisFreelosActivity"
            android:exported="false"
            android:label="Mis Freelos" />
        <activity
            android:name=".MiCuentaActivity"
            android:exported="false"
            android:label="Mi Cuenta" />
        <activity
            android:name=".BuscarFreeloActivity"
            android:exported="false"
            android:label="Buscar Freelo" />
        <activity
            android:name=".CrearFreeloActivity"
            android:exported="false"
            android:label="Crear Freelo" />
        <activity
            android:name=".RegistreseActivity"
            android:exported="false"
            android:label="REGISTRARSE" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/app_name_login" />
        <activity
            android:name=".EncuestaActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".HorizontalScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".CamaraActivity"
            android:exported="false" />
        <activity
            android:name=".APIRestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Freelo Jobs - Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>